<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.session.username %}

                   {% endif %}
    <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Active Requests</h4>



                  <p class="card-description">

                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>

                          <th>Email</th>
                          <th>Name</th>
                          <th>Bystander</th>
                          <th>BloodGroup</th>
                          <th>District</th>
                          <th>Need Before</th>
                          <th>ContactNumber</th>
                          <th>Hospital</th>
                          <th>Place</th>
                          <th>Reason</th>
                          <th>Date & Time</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                            <td>{{i.Email}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Bystander}}</td>
                            <td>{{i.BloodGroup}}</td>
                            <td>{{i.District}}</td>
                            <td>{{i.Date}}</td>
                            <td>{{i.ContactNumber}}</td>
                            <td>{{i.Hospital}}</td>
                            <td>{{i.Place}}</td>
                            <td>{{i.Reason}}</td>
                            <td>{{i.Time}}</td>

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


    <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Old Requests</h4>

                  <p class="card-description">

                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>

                          <th>Email</th>
                          <th>Name</th>
                          <th>Bystander</th>
                          <th>BloodGroup</th>
                          <th>District</th>
                          <th>Need Before</th>
                          <th>ContactNumber</th>
                          <th>Hospital</th>
                          <th>Place</th>
                          <th>Reason</th>
                          <th>Date & Time</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in old %}
                        <tr>
                            <td>{{i.Email}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Bystander}}</td>
                            <td>{{i.BloodGroup}}</td>
                            <td>{{i.District}}</td>
                            <td>{{i.Date}}</td>
                            <td>{{i.ContactNumber}}</td>
                            <td>{{i.Hospital}}</td>
                            <td>{{i.Place}}</td>
                            <td>{{i.Reason}}</td>
                            <td>{{i.Time}}</td>

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

</body>
</html>
{% endblock %}